<!DOCTYPE html>
<html ng-app="tictactoe">
<head>
    <title>Tic Tac Toe</title>
    <META NAME="author" CONTENT="Kulanthaivelu Sankaran">
    <script type="text/javascript" src="http://demo.ksankaran.com/lib/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://demo.ksankaran.com/lib/js/angular.js"></script>
    <script type="text/javascript" src="http://demo.ksankaran.com/lib/js/angular-ui.min.js"></script>
    <script type="text/javascript" src="js/tictactoe.js"></script>
    <script type="text/javascript" src="js/GameController.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/custom.css">
</head>
<body ng-controller="GameController">
    <img class="preload" src="images/letter-o.jpg" />
    <img class="preload" src="images/letter-x.jpg" />
    <div class="gameon">
        <div class="messageContainer" ng-show="gameover">
            <div class="winmessage">{{winmessage}}.<br/> GAME OVER.</div>
        </div>
        <div class="tableContainer" ng-show="isGameStarted">
            <div class="gametable">
                <div ng-repeat="row in rows" class="tablerow">
                    <div id="{{column.id}}" class="{{column.class}}" ng-repeat="column in row">
                        <div ng-click="markUserClick(column)" class="boxContent{{column.letter}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="options">
        <div class="optionsContainer">
            Who should start first? : <select ng-options="obj.value as obj.text for obj in startOptions" ng-model="start"></select>
            <input type="button" ng-click="startGame()" value="START GAME" />
            <br /><br />
            <ng-view />
        </div>
    </div>
</body>
</html>